* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
.Header {
  position: absolute;
  z-index: 2;
  margin: 0 auto;
  left: 0;
  right: 0;
}
.header {
  display: flex;
  justify-content: space-around;
  padding: 30px 30px;
  align-items: center;
}
.header-ul ul li {
  display: inline-block;
  margin: 0px 25px;
  font-size: 13px;
  font-weight: 1000;
}
.header-ul ul li a {
  color: #ffffff;
  font-family: sans-serif;
  transition-delay: 0.1s;
}

.header-ul ul li a:hover {
  color: red;
  border-bottom: 2px solid red;
}
.header-icons a {
  margin: 0px 8px;
  font-size: 18px;
  color: #fff;
}

.readmore-btninfo h1,
h2 {
  color: #fff;
}
.readmore-btninfo h1 {
  font-family: sans-serif;
  margin-bottom: 20px;
}
.readmore-btninfo h2 {
  font-weight: 400;
  font-family: system-ui;
  margin-bottom: 10px;
}
.readmore-btninfo {
  font-size: 40px;
  text-align: center;
  background-size: cover;
}
.readmore-btnflex {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.readmore-btn button {
  padding: 13px 30px;
  background-color: transparent;
  color: #fff;
  font-weight: 800;
  border: 2px solid red;
  border-radius: 5px;
  cursor: pointer;
  transition-duration: 0.5s;
}
.readmore-btn button:hover {
  background-color: red;
}
.swiper-pagination-bullet-active {
  background: var(--swiper-pagination-color, #ffffff);
}
.swiper-pagination-bullet {
  width: 13px !important;
  height: 13px !important;
  background: var(--swiper-pagination-bullet-inactive-color, #fff);
  opacity: 1;
}
.swiper-button-prev,
.swiper-button-next {
  color: #fff !important;
  --swiper-navigation-size: 30px;
  font-weight: 1000;
}
.swiper-button-next {
  right: var(--swiper-navigation-sides-offset, 160px);
}

.swiper-button-prev {
  left: var(--swiper-navigation-sides-offset, 160px);
}
.mySwiper {
  height: 100vh;
}
/* animation */
.readmore-btnflex h2 {
  position: relative;
  top: 20px;
  transition-delay: 0.3s;
  transition-duration: 0.7s;
  opacity: 0;
}
.swiper-slide-active .readmore-btnflex h2 {
  position: relative;
  top: 0px;
  opacity: 1;
}
.readmore-btnflex h1 {
  position: relative;
  top: 20px;
  transition-delay: 0.4s;
  transition-duration: 0.7s;
  opacity: 0;
}
.swiper-slide-active .readmore-btnflex h1 {
  position: relative;
  top: 0px;
  opacity: 1;
}
.readmore-btnflex button {
  position: relative;
  top: 20px;
  transition-delay: 0.5s;
  transition-duration: 0.7s;
  opacity: 0;
}
.swiper-slide-active .readmore-btnflex button {
  position: relative;
  top: 0px;
  opacity: 1;
}

/* animation end */

.swiper-pagination-bullet-active {
  background-color: red;
}
/* Loader/Refresh */
.loader {
  border: 3px solid #f3f3f3;
  border-radius: 50%;
  border-top: 3px solid #f81d00;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 0.4s linear infinite; /* Safari */
  animation: spin 0.4s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loaderSite {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #000;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: visible;
  opacity: 1;
  transition: all 0.5s;
}
.hideLoader {
  opacity: 0;
  visibility: hidden;
}
/* Loader/Refresh  */

.swiper-slide:active {
  cursor: -webkit-grab;
}
.sportInfo {
  display: flex;
  text-align: center;
}
.sports {
  width: 100%;
  max-height: 351px;
}
.spHeight {
  max-height: 470px;
}
.sportsTitle {
  padding: 95px 0px;
}
.sportInfo h1 {
  color: #fff;
  margin-bottom: 17px;
  font-size: 24px;
  font-family: "Oswald", sans-serif;
}
.sportInfo span {
  display: block;
  color: #fff;
  margin-bottom: 25px;
  font-size: 18px;
}

.sports:hover {
  border-bottom: 5px solid red;
  transition: all 0.2s;
}
.container {
  max-width: 1230px;
  margin: 0 auto;
  width: 100%;
  padding: 0px 10px;
}
.crossfitBGround {
  background-color: #151515;
}
.crossIntoDiv {
  width: 50%;
  padding: 0px 10px;
}
.crossfitPG {
  display: flex;
  padding: 100px 0px;
}
.crossfitpgTxt h1 {
  font-size: 48px;
  font-weight: 500;
  color: #ffffff;
  font-family: system-ui;
  margin-bottom: 36px;
}
.crossfitpgTxt h2 {
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 20px;
  padding-right: 79px;
}
.crossfitpgTxt p {
  color: #fff;
  font-size: 16px;
  padding-right: 72px;
  margin-bottom: 40px;
  line-height: 21px;
}
.crossfitpgTxt button {
  padding: 14px 29px;
  background-color: red;
  border: 0;
  border-radius: 6px;
  color: #fff;
  font-weight: 800;
  cursor: pointer;
}
.classesBG {
  background-image: url(images/classes-title-bg.jpg.webp);
}
.classesDiv {
  padding: 45px 0px;
}
.classesDiv h1 {
  color: #fff;
  font-weight: 1000;
  font-family: sans-serif;
  font-size: 48px;
  letter-spacing: 1px;
  margin-bottom: 15px;
  text-align: center;
}
.classesDiv p {
  font-size: 18px;
  text-align: center;
  color: #fff;
  letter-spacing: 2px;
}
.classesImg {
  padding: 155px 0px;
  margin-left: 60px;
  text-align: left;
}
.classesImg h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.classtimeTable {
  background-color: #151515;
  padding: 80px 0px;
}
.classtimetableintoDiv h2 {
  font-size: 48px;
  color: #fff;
  text-align: center;
  padding: 35px 0px;
  font-family: math;
}
.classtimetableintoDiv ul li {
  display: inline-block;
  font-size: 19px;
  margin: 0px 47px;
}
.classtimetableintoDiv ul {
  text-align: center;
}
.classtimetableintoDiv a {
  color: #fff;
  font-family: fantasy;
  padding-bottom: 3px;
}
.nav-link.active {
  border-bottom: 3px solid red;
  color: red;
}

table {
  background-color: #212121;
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  text-align: center;

  border: 2px solid #1f1f1f;
  color: #fff;
  font-family: sans-serif;
}
.bld {
  font-weight: bold;
  font-size: 19px;
  padding: 26px;
}
th {
  background-color: #212121;
  font-weight: bold;
  color: #fff;
}

.header {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.red {
  color: red;
  font-size: 16px;
  font-weight: bold;
}
.table {
  padding: 15px 0px;
  overflow-x: auto;
}
.Dnone:hover {
  background-color: #fd7e14;
}
.Dnone {
  padding: 26px;
  height: 104px;
}
#filterTable th {
  padding: 26px;
}
#filterTable td {
  height: 104px;
  width: 146px;
}
#filterTable {
  height: 601.17px;
}
.switch {
  --false: #fff;
  --true: #fff;
}

input[type="checkbox"] {
  appearance: none;
  height: 2rem;
  width: 4.5rem;
  background-color: #8d5c5cd6;
  position: relative;
  border-radius: 0.2em;
  cursor: pointer;
}

input[type="checkbox"]::before {
  content: "";
  display: block;
  height: 31px;
  width: 31px;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: calc(1.9em / 2 + 0.3em);
  background-color: var(--false);
  border-radius: 0.2em;
  transition: 0.3s ease;
}

input[type="checkbox"]:checked::before {
  background-color: var(--true);
  left: calc(100% - (1.9em / 2 + 0.3em));
}
.pricingSect {
  padding: 90px 0px;
}
.pricingTitle h1 {
  color: white;
  font-size: 48px;
  text-align: center;
  margin-bottom: 18px;
}
.pricingTitle h4 {
  color: #fff;
  text-align: center;
  font-size: 18px;
  width: 639px;
  margin: 0 auto;
  font-weight: 100;
  margin-bottom: 36px;
}
.switchB {
  display: flex;
  align-items: center;
  justify-content: center;
}
.monthly span {
  color: #fff;
  font-size: 16px;
  font-weight: 800;
  margin-right: 10px;
}
.years span {
  color: #fff;
  font-size: 16px;
  font-weight: 800;
  margin-left: 10px;
}
.schedule {
  width: 370px;
  background-color: #fff;
  padding: 52px 0px;
  overflow: hidden;
}
.shceduleT {
  text-align: center;
  margin-bottom: 35px;
}
.shceduleT h1 {
  font-size: 22px;
  font-weight: 600;
  font-family: system-ui;
  margin-bottom: 30px;
  color: #272727;
}
.shceduleT h2 {
  color: #272727;
  font-size: 48px;
  font-weight: 500;
  position: relative;
  padding-left: 18px;
  margin-bottom: 10px;
  display: inline-block;
  font-family: fantasy;
}
.shceduleT h2 span {
  color: #272727;
  font-size: 18px;
  font-weight: 700;
  position: absolute;
  left: 0;
  top: 9px;
}
.shceduleT span {
  display: block;
  letter-spacing: 2px;
  font-weight: 600;
  color: #272727;
}
.scheduleList ul li {
  font-size: 15px;
  font-weight: 500;
  color: #272727;
  line-height: 42px;
  text-align: center;
  font-family: sans-serif;
}
.scheduleBtn {
  padding: 13px 30px;
  background-color: transparent;
  color: #e16521;
  font-weight: 800;
  border: 2px solid #e16521;
  border-radius: 5px;
  cursor: pointer;
  transition-duration: 0.5s;
}
.btnCntr {
  text-align: center;
  margin-top: 30px;
}
.scheduleBtn:hover {
  background-color: #e16521;
  color: #fff;
}
.pricings {
  padding-top: 50px;
  display: flex;
  justify-content: space-around;
}
.starP {
  position: relative;
}
.starIcon {
  width: 160px;
  height: 40px;
  background: #e4381c;
  position: absolute;
  right: -66px;
  top: -6px;
  transform: rotate(45deg);
}
.schedule .starIcon i {
  position: absolute;
  left: 69px;
  top: 15px;
  color: #ffffff;
}
.choosePeople {
  background-color: #151515;
  padding: 70px 0px 70px;
}
.peopleTitle h1,
span {
  color: white;
}
.peopleTitle h1 {
  margin-bottom: 18px;
  font-size: 48px;
  font-weight: 600;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.peopleTitle {
  padding-bottom: 52px;
}
.peopleTitle span {
  font-size: 16px;
  font-weight: 100;
}
.supportItems {
  display: flex;
  flex-wrap: wrap;
}
.Sitem {
  margin-bottom: 40px;
  width: 33.333%;
  padding-left: 15px;
  padding-right: 15px;
}
.Sitem h3 {
  color: white;
  margin: 15px 0px 15px;
  font-weight: 1000;
  font-family: sans-serif;
}
.Sitem p{
  color: #7b7b7b;
  width: 264px;
}

.GymSct h1{
  font-size: 55px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: 240px 0px 240px;
}